<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/images/internet.png" type="image/png">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {{> header}}
    <section class="container">
      {{{body}}}
    </section>
    {{> footer}}
</body>
    <script src="/js/bootstrap.bundle.min.js">null</script>
<html>
